h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;

}
.titulo{
    font-size: 30px;
    max-width: 1000px;
    margin-top: 100px;
    transform: translateX(50%);
    position: absolute;
    text-align: center;
    color: white;
}
body {
    background-image: url("fondo_pagina_web.png");
    background-size: 100% 100%;
    background-attachment: fixed;
}
header .barra-de-opciones #imagen{
    width: 70px;
    height: 70px;
    float: left;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background: white;
    width: 100%;
    clear: both;
    content: "";
    display: table;
}
nav{
    float: right;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    margin-top: 12px;
    padding: 8px 0;
    float: left;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-right: 20px;
}
nav ul li a::before {
    width: 0;
    background: gold;
    height: 5px;
    top: 0;
    position: absolute;
    display: block;
    content: "";
    transition: width 0.2s;
}
nav ul li a:hover:before{
    width: 100%;
}
.monedas{

    width: 200px;
    height: 200px;
}
.nombres{
    color: white;
    font-size: 20px;
    padding: 100px;
}
.links{
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
}
.content{
    max-width: 600px;
}
.content .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    background: green;
}
.infotitulos{
    margin-top: 5%;
    margin-left: 5%;
    font-size: 30px;
}
.info{
    margin-right: 10%;
    margin-left: 5%;
    font-size: 25px;
}
#link-moneda{
    width: 80%;
    margin-right: 10%;
    margin-top: 15%;
    margin-left: 10%;
    height: 20%;
}
p{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    background: rgb(255, 255, 255);
    width: 100%;
    clear: both;
    content: "";
    display: table;
    margin-top: 25%;
}
#pagina {
    position: relative;
    min-height: 100%;
  }
  #contenido {
    padding-bottom:60px;
    padding-top: 10px;
    margin: auto;
    text-align: center;
  }
  #pie {
    height:50px;
    line-height:50px;
    background:black;
    color:white;
    text-align:center;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
  }
  img{
    width: 60px;
    height: 60px;
    padding-bottom:10px;
    padding-right: 10px;
  }
footer #contenido ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-right: 20px;
    font-size: 20px;
}